@import url("base.css");

body {
    background-color: var(--cinza-claro);
}

/* Inicio | Header*/

header {
    background-image: url("../IMG/Header.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    height: 98vh;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.shadow {
    padding: 100px 80px;
    width: 100%;
    height: 100%;
    /*
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    */
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;

    border-radius: 50px;
}

nav img {
    width: 80px;
    border-radius: 100%;
    transition: 300ms;
}

.texts-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 50px;

    gap: 10px;
}

.texts-header h1 {
    width: 55%;
    font-size: 60px;
    color: var(--branco);

    font-family: 'NY';
    font-weight: 100;
}

.texts-header p {
    width: 40%;
    font-size: 24px;
    color: var(--branco);

    font-family: 'LarkeThin';
    font-weight: 100;
}

.header-buttons a:nth-child(1) button {
    background-color: var(--cinza);
    border: none;
    padding: 10px 40px;

    font-family: "NY", sans-serif;
    font-size: 18px;
    color: var(--branco);

    box-shadow: var(--shadow);
    transition: 300ms;
}

.header-buttons a:nth-child(1) button:hover,
.header-buttons a:nth-child(2) button:hover {
    background-color: var(--preto-claro);
    color: var(--branco);
    transform: scale(0.98);
}

.header-buttons a:nth-child(2) button {
    background-color: var(--cinza-claro);
    border: none;
    padding: 10px 40px;

    font-family: "NY", sans-serif;
    font-size: 18px;
    color: var(--preto);

    box-shadow: var(--shadow);
    transition: 300ms;
}

.texts-header button:hover {
    background-color: var(--preto-claro);
    color: var(--branco);
    transform: scale(0.98);
}

/* Tatuagens */
.tatuagens {
    background-color: var(--preto-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 80px;
    gap: 40px;
}

.title-tatuagens {
    color: var(--branco);
    width: 100%;
    display: flex;
    align-items: center;
}

.title-tatuagens h1 {
    text-align: start;
    font-size: 34px;
    color: var(--branco);

    font-family: 'NY';
    font-weight: 100;
    padding-right: 40px;
    border-right: 2px solid var(--branco);

}

.title-tatuagens p {
    text-align: start;
    font-size: 24px;
    color: var(--branco);
    margin-top: 5px;

    font-family: 'LarkeThin';
    padding-left: 40px;
}


.tatuagens-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    width: 100%;
}

.tatuagens-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block;
    transition: 300ms;
    border: 1px solid var(--branco);
}

.tatuagens-container:hover img {
    opacity: 0.5;
}

.tatuagens-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "LarkeRegular", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--branco);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.tatuagens-container:hover p {
    opacity: 1;
}

.div1 {
    grid-row: span 2 / span 2;
    height: 300px;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    height: 300px;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    height: 300px;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    height: 300px;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div11 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    height: 300px;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div12 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
    height: 300px;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tatuagens-button button {
    background-color: var(--cinza-claro);
    border: none;
    padding: 10px 60px;

    font-family: "NY", sans-serif;
    font-size: 18px;
    color: var(--preto);

    box-shadow: var(--shadow);
    transition: 300ms;
}

.tatuagens-button button:hover {
    background-color: var(--preto-claro);
    color: var(--branco);
    transform: scale(0.98);
}

/* Depoimentos */
.depoimentos {
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 80px;
    gap: 80px;
}

.depoimentos-text {
    width: 60%;
    color: var(--branco);
}

.depoimentos-text h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--branco);

    text-align: start;
    font-size: 34px;
    color: var(--branco);

    font-family: 'NY';
    font-weight: 100;
    text-transform: uppercase;
}

.depoimentos-text p {
    padding-top: 10px;
    text-align: start;
    font-size: 24px;
    color: var(--branco);
    margin-top: 5px;

    font-family: 'LarkeThin';
}

.slider-auto {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
    gap: 20px;
    animation: slide 40s linear infinite;
    position: relative;
    z-index: 1; /* cards */
}

.gradient-overlay {
    position: absolute;
    inset: 0; /* cobre tudo */
    z-index: 2; /* acima dos cards */
    pointer-events: none; /* não atrapalha clique/arraste */

    background: linear-gradient(-90deg,rgba(113, 115, 115, 0) 70%, rgba(113, 115, 115, 1) 100%);
}

.gradient-overlay2 {
    position: absolute;
    inset: 0; /* cobre tudo */
    z-index: 2; /* acima dos cards */
    pointer-events: none; /* não atrapalha clique/arraste */

    background: linear-gradient(90deg,rgba(113, 115, 115, 0) 70%, rgba(113, 115, 115, 1) 100%);
}

.card {
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-text {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-text h1 {
    text-align: start;
    font-size: 24px;
    color: var(--preto);

    font-family: 'NY';
    font-weight: 100;
}

.card-text p {
    width: 100%;
    height: 260px;
    text-align: start;
    font-size: 18px;
    color: var(--preto);
    font-family: 'LarkeThin';
}

.stars {
    width: 100%;
    border-top: 2px solid var(--preto);
    text-align: center;
    font-size: 50px;
    color: var(--preto);
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-178%);
    }
}